<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>График/таблица в HTML5</title>
    </head>
    <body>
        {% if base.count > 0 %}
        <h2>Список масс</h2>
        <table>
            <tr>
                {% for i in base %}
                    <td>{{ i.weight }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in base %}
                    <td>{{ i.data }}</td>
                {% endfor %}
            </tr>
        </table>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <p>
                <button type="submit">Вернуться к вводу данных</button>
            </p>
        </form>
    </body>
</html>
