<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <meta charset="utf-8" />
      <title>Try to Django</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
      </script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart']});
      </script>
   </head>
   <body>
      {{ base | json_script:"county-data" }}
      <h2>I learnt to use commits</h2>
      <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>
      <script type="text/javascript" src="{% static 'mainPage/js/chart.js' %}"></script>
   </body>
</html>