<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>График/таблица в HTML5</title>
    </head>
    <body>
        {% if base.count > 0 %}
        <h2>Список масс</h2>
        <table>
            <tr>
                {% for i in base %}
                    <td>{{ i.weight }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in base %}
                    <td>{{ i.data }}</td>
                {% endfor %}
            </tr>

        </table>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <p>
                <button type="submit">Вернуться к вводу данных</button>
            </p>
        </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript">
    const base = document.base
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(base);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
    </body>
</html>
